---
layout: page
title: Contents 
id: contents
class: page
permalink: /contents/
---

{% for post in site.posts %}

{% capture post_title_length %}{{ post.title | size }}{% endcapture %}

{% if post_title_length != "0" %}
<h2><a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.excerpt | strip_newlines |  strip_html }}">{{ post.title }}</a></h2>
{% else %}
<h2><a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.excerpt | strip_newlines |  strip_html }}">Untitled</a></h2>
{% endif %}
<h4>{{ post.excerpt | strip_newlines |  strip_html }}</h4>
<p>Posted on the {{ post.date | date: "%-d %b, %Y" }}</p>


{% endfor %}
