---
layout: default
id: home
---

{% for post in paginator.posts %}
<section>
  {% if forloop.first == true %}
    {% include post.html post=post %}
  {% else %}
    {% include thumbnail.html post=post %}
  {% endif %}
<section>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Prev</a>
  {% else %}
    <span class="previous">Prev</span>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next">Next</span>
  {% endif %}
</div>
