---
layout: default
id: home
---

<section>
{% for post in paginator.posts %}
  {% if forloop.first == true and paginator.posts.size >= 4 %}
    {% include post.html post=post %}
  {% else %}
    {% include thumbnail.html post=post %}
  {% endif %}
{% endfor %}
<section>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Prev</a>
  {% else %}
    <span class="previous">Prev</span>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next">Next</span>
  {% endif %}
</div>
