---
layout: default
---
{% include form-search.html %}

<ul id="search-results"></ul>

<script>
  window.store = {
    {% for post in site.posts %}
      "{{ post.url | slugify }}": {
        "title": {{ post.title | newlines_to_br | replace: '<br />', ' ' | strip_html | jsonify }},
        "author": "{{ post.author | xml_escape }}",
        "category": "{{ post.category | xml_escape }}",
        "content": {{ post.content | newlines_to_br | replace: '<br />', ' ' | strip_html | jsonify }},
        "url": "{{ post.url | xml_escape }}"
      }
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  };
</script>
<script src="{{ "/vendor/lunr.js" | relative_url }}"></script>
<script src="{{ "/assets/scripts/search.js" | relative_url }}"></script>
