$color--bg-site-nav: $charcoal;
$color--bg-site-nav-info: $white;

$color--bg-pagination: $lightgrey;

$color--bg-logo-dark: $almostblack;
$color--bg-logo-mid: $midgrey;
$color--bg-logo-light: $grey;
$color--bg-logo-dark-hover: $lightplumpink;
$color--bg-logo-mid-hover: $lighttangerineorange;
$color--bg-logo-light-hover: $lightsunnyyellow;

$padding-top--site-header-mobile: em(110);
$height--site-nav: em(50);


// Site Header

#site-header {
  position: relative;
  overflow: hidden;
  z-index: 1;

  hgroup {
    align-items: flex-end;
    background-image: linear-gradient(90deg, $color--text-headline 25%, $sunnyyellow 37.5%, $tangerineorange, $plumpink 62.5%, $color--text-headline 75%);
    background-position: right center;
    background-size: 400% auto;
    display: inline-flex;
    flex-direction: row;
    height: 100%;
    padding: $padding-top--site-header-mobile $padding-leftright--default $padding-topbottom--default $padding-leftright--default;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h1 {
    @include font-dimensions(100, 47, 2);
    height: em(70, 100);
  }

  h2 {
    @include font-dimensions(29, 35.5, -10);
    font-family: $font-family--subheadline;
    font-weight: 300;
    height: em(70, 29);
    margin-left: -0.1em;

  }

  &:hover {
    hgroup {
      background-position: left center;
      transition: background-position 1000ms ease-out;
    }

    #site-logo {
      div:first-child {
        background-color: $color--bg-logo-mid-hover;
      }
      div:nth-child(2) {
        background-color: $color--bg-logo-dark-hover;
      }
      div:last-child {
        background-color: $color--bg-logo-light-hover;
      }
    }
  }

  @media (min-width: $breakpoint-md) {
    hgroup {
      padding-top: $padding-topbottom--default;
    }
  }
}


// Site Nav

#site-nav {
  align-items: center;
  background-color: $color--bg-site-nav;
  display: flex;
  height: em(50);
  justify-content: space-between;
  padding: 0 $padding-leftright--default;
  position: sticky;
  top: 0;
  transition: height 100ms linear;
  z-index: 1;

  hgroup {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    height: em(42);
    transform: translateY(-0.2em);
    opacity: 0;
    transition: opacity 250ms linear;
  }

  a, h1 {
    height: 100%;
  }

  h1 {
    @include font-dimensions(60, 28.2, 2);
    color: $color--bg-site-nav-info;
  }

  .site-nav-info {
    height: em(26);
    width: em(26);

    span {
      display: none;
    }

    &:before {
      @include font-dimensions(26, 26);
      background-color: $color--bg-site-nav-info;
      border-radius: 50%;
      content: "i";
      display: block;
      font-family: $font-family--headline;
      font-style: italic;
      font-weight: 900;
      text-align: center;
    }
  }
}


// Site Logo

#site-logo {
  div {
    transition: background-color 150ms ease-in;
    position: absolute;
  }

  div:first-child {
    background-color: $color--bg-logo-mid;
    height: em(36);
    left: em(-40);
    top: em(33);
    transform: rotate(-45deg);
    width: em(180);
  }

  div:nth-child(2) {
    background-color: $color--bg-logo-dark;
    height: em(35);
    left: em(36);
    top: em(22);
    transform: rotate(53deg);
    width: em(125);
  }

  div:last-child {
    background-color: $color--bg-logo-light;
    height: em(36);
    left: em(130);
    top: em(28);
    transform: rotate(79deg);
    width: em(101);
  }

  @media (min-width: $breakpoint-md) {
    div:first-child {
      left: auto;
      right: em(-40);
      transform: rotate(45deg);
    }

    div:nth-child(2) {
      left: auto;
      right: em(36);
      transform: rotate(-53deg);
    }

    div:last-child {
      left: auto;
      right: em(130);
      transform: rotate(-79deg);
    }
  }
}


// Site Footer

#site-footer {
  color: $color--text-headline;
  display: flex;
  flex-direction: column;
  padding: em(25) $padding-leftright--default;
  text-align: center;

  .site-footer-organisation {
    @include font-dimensions(24, 28.8);
    font-family: $font-family--headline;
    font-style: italic;
    padding-bottom: em(23, 24);
  }

  .site-footer-copyright {
    @include font-dimensions(14, 16.8);
    font-family: $font-family--headline;
    padding-bottom: em(23, 14);
  }

  @media (min-width: $breakpoint-lg) {
    align-items: center;
    flex-direction: row;

    > * {
      flex-basis: 1/3 * 100%;
    }

    .site-footer-copyright,
    .site-footer-organisation {
      padding-bottom: 0;
    }

    .site-footer-organisation {
      text-align: left;
    }

    .form-search {
      justify-content: flex-end;
      text-align: right;
    }
  }
}


// Pagination

.pagination {
  align-items: center;
  background-color: $color--bg-pagination;
  display: flex;
  height: em(77);
  justify-content: space-between;
  //padding: 0 $padding-leftright--default;

  > a, > span {
    align-items: center;
    background-size: 200%;
    display: flex;
    height: 100%;
    max-width: 50%;
    transition: background 150ms linear, color 150ms linear;
    width: em(250);

    &:hover {
      color: $color--text-headline;
    }

    &.next {
      background-image: linear-gradient(90deg, transparent, transparent 50%, $sunnyyellow);
      background-position: center left;
      justify-content: flex-end;
      padding-right: $padding-leftright--default;

      &:hover {
        background-position: center right;
      }
    }

    &.previous {
      background-image: linear-gradient(270deg, transparent, transparent 50%, $sunnyyellow);
      background-position: center right;
      justify-content: flex-start;
      padding-left: $padding-leftright--default;

      &:hover {
        background-position: center left;
      }
    }
  }
  .pagination-button {
    @include font-dimensions(36, 13, 0);
    font-weight: 700;
    text-transform: uppercase;
  }

  .pagination-arrow {
    font-family: $font-family--headline;
    transition: font-size 150ms linear;

    &:first-child {
      margin-right: em(20, 36);
    }

    &:last-child {
      margin-left: em(20, 36);
    }
  }

  .pagination-label {
    @include font-dimensions(16, 20, 0, 36);
    vertical-align: middle;
  }

  .disabled span {
    visibility: hidden;
  }
}


// Freeze sizes of elements

#site-header,
#site-nav,
#site-footer,
.pagination {
  @media (min-width: $breakpoint-xs) {
    font-size: 10px;
  }
}

// Scrolled layout changes

.scrolled--sticky-site-nav {
  #site-nav {
    height: $height--site-nav;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    hgroup {
      opacity: 1;
    }
  }

  #content {
    margin-top: $height--site-nav;

    @media (min-width: $breakpoint-xs) {
      margin-top: px-at-em($height--site-nav);
    }
  }
}
