$color--bg-post-footer: $offwhite;

.page-post {
  overflow: hidden;
  position: relative;
}

.post {
  padding: $padding-topbottom--default $padding-leftright--default;

  header {
    margin-bottom: em(35);
  }

  .post-content {
    margin-bottom: em(40);

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    border-radius: 50%;
    filter: grayscale(100%);
    transition: filter 150ms linear;
    width: 100%;

    &:hover {
      filter: none;
    }
  }

  footer {
    background-color: $color--bg-post-footer;
    height: em(36);

    time {
      @include font-dimensions(18, 21.6);
      display: block;
      font-family: $font-family--headline;
      font-weight: 700;
      padding-top: em(4, 18);
      text-align: center;
    }
  }

  @media (min-width: $breakpoint-md) {
    font-size: vw(10, 600);
    margin: 0 auto;
    padding-bottom: $padding-topbottom--default * 2;
    padding-top: $padding-topbottom--default * 2;
    max-width: em(375);
  }

  @media (min-width: $breakpoint-lg) {
    font-size: vw(10, 900); // 10px @vw 375px
  }

  @media (min-width: $breakpoint-xl) {
    font-size: px-at-viewport(10, 900, 1200);
  }
}

.post-decorations {
  div {
    background-color: $color--bg-post-footer;
    height: em(36);
    position: absolute;
  }

  div:first-child {
    height: em(36);
    right: em(-37);
    top: em(92);
    transform: rotate(-38deg);
    width: em(140);
  }

  @media (min-width: $breakpoint-md) {
    div:nth-child(2) {
      height: em(36);
      left: em(-37);
      top: em(92);
      transform: rotate(38deg);
      width: em(140);
    }

    div:nth-child(3) {
      height: em(36);
      left: em(-37);
      bottom: em(112);
      transform: rotate(-22deg);
      width: em(126);
    }

    div:nth-child(4) {
      height: em(36);
      right: em(-37);
      bottom: em(112);
      transform: rotate(22deg);
      width: em(126);
    }

    div:nth-child(5) {
      height: em(36);
      left: em(-2);
      top: em(250);
      transform: rotate(175deg);
      width: em(125);
    }

    div:nth-child(6) {
      height: em(36);
      right: em(-2);
      top: em(250);
      transform: rotate(-175deg);
      width: em(125);
    }

    div:nth-child(7) {
      height: em(36);
      right: em(-13);
      bottom: em(190);
      transform: rotate(-28deg);
      width: em(70);
    }

      div:nth-child(8) {
        height: em(36);
        left: em(-13);
        bottom: em(190);
        transform: rotate(28deg);
        width: em(70);
      }
  }
}
