$color--bg-form-search: $offwhite;
$color--text-search-button: $white;

.form-search {
  display: flex;
  justify-content: center;

  label {
    display: none;
  }

  input, button {
    background-color: $color--bg-form-search;
    border: none;
  }

  input {
    @include font-dimensions(17, 21);
    color: $color--text-headline;
    font-family: $font-family--body;
    outline: none;
    padding: em(4, 17) em(10, 17);
  }

  button {
    @include font-dimensions(24, 28.8);
    color: $color--text-search-button;
    padding: em(4, 17) em(10, 24);

    span {
      display: none;
    }
  }
}
