$color--bg-thumbnail-light: $white;
$color--bg-thumbnail-mid: $offwhite;
$color--bg-thumbnail-dark: $midgrey;

$color--text-thumbnail-light: $white;
$color--text-thumbanil-dark: $color--text-headline;

.thumbnail {
  height: em(275);
  overflow: hidden;

  h2 {
    @include font-dimensions(36, 41);
    color: inherit;
    font-family: $font-family--body;
    font-weight: 300;
    margin: 0;

    &:after {
      content: ' ...';
    }
  }

  a {
    align-items: center;
    color: inherit;
    display: flex;
    height: 100%;
    padding: 0 $padding-leftright--default;
    width: 100%;
  }

  &:nth-child(3n+2) {
    background-color: $color--bg-thumbnail-dark;
    color: $color--text-thumbnail-light;
  }

  &:nth-child(3n) {
    background-color: $color--bg-thumbnail-mid;
    color: $color--text-thumbanil-dark;
  }

  &:nth-child(3n+1) {
    background-color: $color--bg-thumbnail-light;
    color: $color--text-thumbanil-dark;
  }

  @media (min-width: $breakpoint-md) {
    flex-basis: 50%;
    font-size: 0.5em;
  }

  @media (min-width: $breakpoint-lg) {
    flex-basis: 1 / 3 * 100%;
    font-size: 1 / 3 * 1em;

    &:nth-child(2n) {
      background-color: $color--bg-thumbnail-dark;
      color: $color--text-thumbnail-light;
    }

    &:nth-child(2n+1) {
      background-color: $color--bg-thumbnail-light;
      color: $color--text-thumbanil-dark;
    }
  }
}
