/** Functions **/

/**
 * Converts a pixel width at a given viewport width to vw units
 * @param  {number} $target    Pixel width at viewport
 * @param  {number} $viewport-width Width of the viewport
 * @return {number}           Width in vw units
 */
@function vw($target, $viewport-width) {
  $vw-context: ($viewport-width / 100);
  @return ($target / $vw-context) * 1vw;
}

@function em($target, $base: 10) {
  @return $target / $base * 1em;
}

@function px-at-viewport($target, $viewport-width, $target-viewport-width) {
  @return ($target / $viewport-width) * $target-viewport-width * 1px;
}

/** Mixins **/

@mixin font-dimensions($size, $line-height, $tracking: 0, $font-base: 10) {
  font-size: em($size, $font-base);
  line-height: $line-height / $size;
  letter-spacing: $tracking / 1000 * 1em;
}
