$fa-font-path: "../node_modules/font-awesome/fonts";

// Colour Variables

// Greyscale
$white: white;
$almostwhite: rgb(247, 246, 247);
$offwhite: rgb(237, 237, 237);
$lightgrey: rgb(216, 215, 215);
$grey: rgb(194, 194, 193);
$midgrey: rgb(82, 79, 82);
$charcoal: rgb(71, 70, 71);
$almostblack: rgb(53, 52, 51);

// Technicolour
$plumpink: rgb(153, 106, 110);
$tangerineorange: rgb(239, 150, 113);
$lighttangerineorange: rgb(241, 172, 143);
$sunnyyellow: rgb(253, 224, 113);

// Colours by usage
$color--text-body: $midgrey;
$color--text-headline: $almostblack;

// Font Variables
$font-family--body: 'Raleway', sans-serif;
$font-family--headline: 'Playfair Display', serif;
$font-family--subheadline: 'Source Sans Pro', sans-serif;

// Breakpoints
$breakpoint-xs: 300px;
$breakpoint-sm: 450px;
$breakpoint-md: 600px;
$breakpoint-lg: 900px;
$breakpoint-xl: 1200px;

// Layout
$padding-leftright--default: em(31.5);
$padding-topbottom--default: em(40);
