<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic|Merriweather:400,300,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">

    <script type="text/javascript" src="{{ "/assets/js/zepto.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/assets/js/touch.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
    
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{{ "/assets/js/html5shiv.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/assets/js/respond.min.js" | prepend: site.baseurl }}"></script>
    <![endif]-->

</head>
