{% assign post=include.post %}
{% capture post_title_length %}{{ post.title | size }}{% endcapture %}

<a href="{{ post.url |  relative_url }}">
  <article class="post">
      {% if post_title_length != "0" or post.subtitle %}
      <header class="post-header">
        {% if post_title_length != "0" %}
        <h1>{{ post.title | newline_to_br }}</h1>
        {% endif %}
        {% if post.subtitle %}
        <h2>{{ post.subtitle | newline_to_br }}</h2>
        {% endif %}
      </header>
      {% endif %}

      <div class="post-content">
        {{ post.content }}
      </div>

      <footer>
        <p>{{ post.date | date: "%Y · %m · %d" }}</p>
      </footer>
  </article>
</a>
