{% assign post=include.post %}
{% capture post_title_length %}{{ post.title | size }}{% endcapture %}

<article class="post">
  <a href="{{ post.url |  relative_url }}">
    {% if post_title_length != "0" %}
    <header class="post-header">
      {% if post_title_length != "0" %}
      <h1>{{ post.title | newline_to_br }}</h1>
      {% endif %}
      {% if current_post.subtitle %}
      <h2>{{ post.subtitle | newline_to_br }}</h2>
      {% endif %}
    </header>
    {% endif %}

    <article class="post-content">
      {{ post.content }}
    </article>

    <footer>
      {{ post.date | date: "%-d %b, %Y" }}</p>
    </footer>
  </a>
</article>
