/* Base styles
***********************************/

body{
  font-family: $font-text;
  font-weight: 300;
  color: $color-mid;
  position: relative;
  font-size: 4vw;
}

// Headers

h1, h2{
  font-family: $font-display;
  letter-spacing: 0.1em;
  color: $color-dark;
}

h1{
  font-size: 1.82em;
  font-weight: 700;
  text-transform: uppercase;
}

h2{
  font-size: 1.15em;
  font-weight: 400;
  font-style: italic;
}

// Paragraphs

p{
  font-size: 1em;
  margin-bottom: 1.15em;
  line-height: 1.5em;
}

// Links

a{
  color: $color-light;
  text-decoration: none;
}

// Screen > 500px
@media screen and (min-width: 500px){
  body{
    font-size: rem(20);
  }
}

