/* Base styles
***********************************/

#content{
  font-family: $font-text;
  font-weight: 300;
  color: $color-mid;
  font-size: 1em; //For browsers that don't support vw
  font-size: 4vw;
}

// Headers

h1, h2, h3{
  font-family: $font-display;
  letter-spacing: 0.1em;
  color: $color-dark;
}

h1, h2{
  font-weight: 700;
  text-transform: uppercase;
}

h1{
  font-size: 1.82em;
  line-height: 1.2em;
}

h2{
  font-size: 1.3em;
}

h3, h4{
  font-style: italic;
}

h3{
  font-size: 1.15em;
  font-weight: 400;
}

h4{
  font-weight: 300;
  font-size: 0.8em;
}

// Paragraphs

p{
  font-size: 1em;
  margin-bottom: 1.15em;
  line-height: 1.5em;
}

// Links

a{
  text-decoration: none;
  @include transition(color 0.2s linear);
}

h1, h2, h3, h4, p{
  a{
    color: $color-dark;
  }
}

.no-touch, html:not(.touch){

  h1, h2, h3, h4, p{
    a:hover{
      color: $color-light;
    }
  }
}

// Screen > 500px
@media screen and (min-width: em(500)){
  #content{
    font-size: 1.25em;
  }
}

// For browsers that don't support vw
@media screen and (max-width: em(300)){
  #content{
    font-size: 0.75em;
    font-size: 4vw;
  }
}

@media screen and (max-width: em(200)){
  #content{
    font-size: 0.5em;
    font-size: 4vw;
  }
}

