/* Base mixin 
***********************************/

@mixin base($scaling-factor){
  h1{
    font-size: 1.82 * $scaling-factor;
  }

  h2{
    font-size: 1.15 * $scaling-factor;
  }

  p{
    font-size: 1 * $scaling-factor;
    margin-bottom: 1.15 * $scaling-factor;
    line-height: 1.46 * $scaling-factor; 
  }
}


/* Base styles
***********************************/

@include base(4vw);

body{
  font-family: $font-text;
  font-weight: 300;
  color: $color-mid;
  position: relative;
}

// Headers

h1, h2{
  font-family: $font-display;
  letter-spacing: 0.1em;
  color: $color-dark;
}

h1{
  font-weight: 700;
  text-transform: uppercase;
}

h2{
  font-weight: 400;
  font-style: italic;
}

// Links

a{
  color: $color-light;
  text-decoration: none;
}

// Screen > 500px
@media screen and (min-width: 500px){
  @include base(rem(20));  
}

