body{
  background: url("/assets/images/bg.png") center center repeat;
}

#content{
  min-height: 100%;
  min-height: 100vh;
  @include display(flex);
  @include justify-content(center);
}


/* Header
***********************************/

// Mixins

@mixin site-header($scaling-factor){
  #site-header{
    @include position(fixed, 2.7 * $scaling-factor null null 0);
    font-size: 0.76 * $scaling-factor;

    nav{
      > a {
        margin-top: 0.16 * $scaling-factor;
        padding: 0.39 * $scaling-factor 0.55 * $scaling-factor;

        @each $i, $width in (1, 11.45 * $scaling-factor), (2, 3.15 * $scaling-factor), (3, 4.0 * $scaling-factor), (4, 6.75 * $scaling-factor){
          &:nth-child(#{$i}){
            margin-left: -$width;
            @include transition(margin-left transition-time($width) linear 0.05s);
          }
        }

        &:first-child{
          font-size: 1.0 * $scaling-factor;
        }

        > i{
          padding-left: 0.75 * $scaling-factor;
        }
      }

      &:hover > a{
        margin-left: 0;
      }
    }
  }
}


// Styles

@include site-header(4vw);

#site-header{
  font-family: $font-display;
  font-weight: 500;

  nav{
    > a {
      float: left;
      clear: both;
      background: $color-dark;

      &:first-child{
        text-transform: uppercase;
      }

      > i{
        padding-left: 8px;
      }

      > i, > span{
        color: $color-lightest;
        font-weight: 700;
      }
    }

    &:hover > a{
      margin-left: 0;
    }
  }
}


// Media Queries

@media screen and (min-width: 500px){
  @include site-header(rem(20));
}


/* Footer
***********************************/

// Mixin
@mixin site-footer($scaling-factor){
  #site-footer{
    margin-bottom: 2.3 * $scaling-factor;
    font-size: 0.6 * $scaling-factor;
  }
}

// Styles
@include site-footer(5vw);

#site-footer{
  text-align: center;

  ul{
    list-style-type: none;
  }
}

// Media Queries
@media screen and (min-width: 400px){
  @include site-footer(rem(20));
}


/* Post styles
***********************************/

@mixin post($scaling-factor){
  .post{
    padding: 2.7 * $scaling-factor 0;
    max-width: 22.5 * $scaling-factor;

    header{
      margin-bottom: 1.7 * $scaling-factor;
    }
  }
}

@include post(4vw);

.post{
  @include align-self(center);
}

@media screen and (min-width: 500px){
  @include post(rem(20));
}


/* Next and Previous links
***********************************/

// Mixin

@mixin nav-buttons($scaling-factor){
  @each $nav, $dir, $odir, $width in (previous, left, right, 7.7 * $scaling-factor), (next, right, left, 6.0 * $scaling-factor){
    .#{$nav}{
      #{$dir}: 0;
      margin-#{$dir}: -#{$width};
      border-top-#{$odir}-radius: 0.55 * $scaling-factor;
      border-bottom-#{$odir}-radius: 0.55 * $scaling-factor;
      @include transition(margin-#{$dir} transition-time($width) linear);

      i{
        padding-#{$dir}: 0.75 * $scaling-factor;
      }
    }
  }

  .next, .previous{  
    padding: 0.75 * $scaling-factor;
    font-size: 1.15 * $scaling-factor;
  }
}


// Styles

@include nav-buttons(4vw);

.next, .previous{  
  @include position(fixed, 50vh null null null);
  @include transform(translateY(-50%));
  font-family: $font-display;
  background: $color-light;
  color: $color-lightest;

  &:hover{
    margin-left: 0;
    margin-right: 0;
  }
}


// Media Queries

@media screen and (min-width: 500px){
  @include nav-buttons(rem(20));
}
