body{
  background: url("/assets/images/bg.png") center center repeat;
}



/* Header and footer
***********************************/

#site-header{
  @include position(fixed, 3.5vw null null 0);
  font-family: $font-display;

  nav{
    @include clearfix;
    font-size: 1vw;
    font-weight: 500;

    > a {
      float: left;
      clear: both;
      background: $color-dark;
      margin: 0.2vw 0 0 0;
      padding: 0.5vw 0.7vw;
      opacity: 0;
      @include transition(margin-left 0.325s linear, opacity 0.1s linear 0.225s);

      &:first-child{
        text-transform: uppercase;
        font-size: 1.3vw;
        margin-left: -14.6vw;
        opacity: 1;
      }

      > i{
        padding-left: 0.5vw;
      }

      > i, > span{
        color: $color-lightest;
        font-weight: 700;
      }
    }

    &:hover{
      > a:first-child{
        margin-left: 0;
      }

      > a{
        opacity: 1;
      }
    }
  }

}

#site-footer{
  margin: 0 0 3vw 0;
  text-align: center;
  font-size: 0.8vw;

  ul{
    list-style-type: none;
  }
}



/* Post styles
***********************************/

.post{
  min-height: 100vh;
  @include display(flex);
  @include justify-content(center);

  > div{
    padding: 7vw 0;
    max-width: 60vw;
    @include align-self(center);
  }

  header{
    margin-bottom: 2.2vw;
  }
}



/* Next and Previous links
***********************************/

.previous{
  left: 0;
  margin-left: -10vw;
  @include border-right-radius(0.7vw);

  i{
    padding-left: 1vw;
  }
}

.next{
  right: 0;
  margin-right: -7.85vw;
  @include border-left-radius(0.7vw);

  i{
    padding-right: 1vw;
  }
}

.next, .previous{  
  font-family: $font-display;
  background: $color-light;
  color: $color-lightest;
  position: fixed;
  padding: 1vw 1vw;
  top: 50vh;
  font-size: 1.5vw;
  @include transform(translateY(-50%));
  @include transition(margin-left 0.25s linear, margin-right 0.195s linear);

  &:hover{
    margin-left: 0;
    margin-right: 0;
  }
}
