/* Colours
*****************************/

$color-dark: #111;
$color-mid: #444;
$color-light: #AAA;
$color-lightest: #f8f3ef;


/* Fonts
*****************************/

$font-text: Merriweather, Georgia, "Times New Roman", serif;
$font-display: Josefin Sans, Helvetica, Arial, sans-serif;


/* Misc 
*****************************/

@function transition-time($distance){
  $transition-speed: null;
  @if unit($distance) == "vw" {
    $transition-speed: 124; // 40 vw/s
  } @else if unit($distance) == "px" {
    $transition-speed: 620; // 40 vw/s
  } @else if unit($distance) == "rem" {
    $transition-speed: 38.75; // 40 vw/s
  }
  @return #{strip-units($distance) / $transition-speed}s;
}

