/* Colours
*****************************/

$color-dark: #111;
$color-mid: #444;
$color-light: #AAA;
$color-lightest: #f8f3ef;


/* Fonts
*****************************/

$font-text: Merriweather, Georgia, "Times New Roman", serif;
$font-display: Josefin Sans, Helvetica, Arial, sans-serif;


/* Misc 
*****************************/

$transition-speed: 40; //40vh/s

