/* Colours
*****************************/
/* Fonts
*****************************/
/* Misc 
*****************************/
/* Reset Styles
************************************/
* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Base styles
***********************************/
#content {
  font-family: Merriweather, Georgia, "Times New Roman", serif;
  font-weight: 300;
  color: #444444;
  font-size: 1em;
  font-size: 4vw; }

h1, h2, h3 {
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  letter-spacing: 0.1em;
  color: #111111; }

h1, h2 {
  font-weight: 700;
  text-transform: uppercase; }

h1 {
  font-size: 1.82em;
  line-height: 1.2em; }

h2 {
  font-size: 1.3em; }

h3, h4 {
  font-style: italic; }

h3 {
  font-size: 1.15em;
  font-weight: 400; }

h4 {
  font-weight: 300;
  font-size: 0.8em; }

p {
  font-size: 1em;
  margin-bottom: 1.15em;
  line-height: 1.5em; }

a {
  text-decoration: none;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  transition: color 0.2s linear; }

h1 a, h2 a, h3 a, h4 a, p a {
  color: #111111; }

.no-touch h1 a:hover, .no-touch h2 a:hover, .no-touch h3 a:hover, .no-touch h4 a:hover, .no-touch p a:hover, html:not(.touch) h1 a:hover, html:not(.touch) h2 a:hover, html:not(.touch) h3 a:hover, html:not(.touch) h4 a:hover, html:not(.touch) p a:hover {
  color: #aaaaaa; }

@media screen and (min-width: 31.25em) {
  #content {
    font-size: 1.25em; } }
@media screen and (max-width: 18.75em) {
  #content {
    font-size: 0.75em;
    font-size: 4vw; } }
@media screen and (max-width: 12.5em) {
  #content {
    font-size: 0.5em;
    font-size: 4vw; } }
body {
  background: url("../images/bg.png") center center repeat;
  position: relative; }

#content {
  min-height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.no-flexbox.no-flexboxlegacy #content {
  display: table;
  margin: 0 auto !important; }
.no-flexbox.no-flexboxlegacy .post {
  display: table-cell;
  vertical-align: middle; }

/* Header
***********************************/
#site-header.open a {
  margin-left: 0 !important; }

#site-header {
  position: absolute;
  top: 0.8em;
  left: 0;
  font-size: 16px;
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  z-index: 1; }
  #site-header #site-title {
    font-size: 1.25em;
    text-transform: uppercase;
    line-height: 0.5em; }
  #site-header > nav:after {
    content: "";
    display: table;
    clear: both; }
  #site-header a {
    position: relative;
    float: left;
    clear: both;
    line-height: 1.0em;
    padding: 0.4em 0.55em;
    margin-bottom: 0.16em;
    background: #111111;
    color: #aaaaaa; }
    #site-header a:nth-child(1) {
      margin-left: -11.7em;
      -webkit-transition: margin-left 0.14625s linear 0.05s, background-color 0.2s linear;
      -moz-transition: margin-left 0.14625s linear 0.05s, background-color 0.2s linear;
      transition: margin-left 0.14625s linear 0.05s, background-color 0.2s linear; }
    #site-header a:nth-child(2) {
      margin-left: -4em;
      -webkit-transition: margin-left 0.05s linear 0.05s, background-color 0.2s linear;
      -moz-transition: margin-left 0.05s linear 0.05s, background-color 0.2s linear;
      transition: margin-left 0.05s linear 0.05s, background-color 0.2s linear; }
    #site-header a:nth-child(3) {
      margin-left: -5em;
      -webkit-transition: margin-left 0.0625s linear 0.05s, background-color 0.2s linear;
      -moz-transition: margin-left 0.0625s linear 0.05s, background-color 0.2s linear;
      transition: margin-left 0.0625s linear 0.05s, background-color 0.2s linear; }
    #site-header a:nth-child(4) {
      margin-left: -9em;
      -webkit-transition: margin-left 0.1125s linear 0.05s, background-color 0.2s linear;
      -moz-transition: margin-left 0.1125s linear 0.05s, background-color 0.2s linear;
      transition: margin-left 0.1125s linear 0.05s, background-color 0.2s linear; }
    #site-header a i {
      color: #f8f3ef;
      font-weight: 700; }
    #site-header a .fa-circle {
      padding-left: 0.75em; }

.no-touch #site-header a:hover, html:not(.touch) #site-header a:hover {
  background: #444444; }
.no-touch #site-header:hover a, html:not(.touch) #site-header:hover a {
  margin-left: 0; }

@media screen and (min-width: 40.625em) {
  #site-header {
    top: 4.375em; } }
@media screen and (min-width: 34.375em) {
  #site-header {
    position: fixed; } }
@media screen and (min-width: 31.25em) {
  #site-header {
    font-size: 0.8em; } }
@media screen and (max-width: 18.75em) {
  #site-header {
    font-size: 1em; } }
/* Post styles
***********************************/
.post {
  -webkit-align-self: center;
  -moz-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
  padding: 4.5em 0; }
  .post header {
    margin-bottom: 1.7em; }
  .post footer > p {
    font-size: 0.6em; }

.post, .page {
  max-width: 90%;
  max-width: 90vw; }

#contents p {
  font-size: 0.8em; }

@media screen and (min-width: 31.25em) {
  .post {
    padding: 3.5em 0; } }
@media screen and (min-width: 40.625em) {
  .post, .page {
    max-width: 69%; } }
@media screen and (min-width: 56.25em) {
  .post, .page {
    max-width: 30em; } }
/* Next and Previous links
***********************************/
.next, .previous {
  color: #111111;
  position: static;
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  font-size: 1.15em;
  line-height: 0.5em; }
  .next i, .previous i {
    display: none; }

.previous {
  padding-right: 0.75em; }

.previous + .next {
  border-left: 1px solid #111111;
  padding-left: 0.75em; }

.no-touch .next:hover, .no-touch .previous:hover, html:not(.touch) .next:hover, html:not(.touch) .previous:hover {
  color: #aaaaaa; }

@media screen and (min-width: 40.625em) and (min-height: 31.25em) {
  .next, .previous {
    background-color: #aaaaaa;
    color: #f8f3ef;
    padding: 0.75em;
    border-right: none;
    top: 50%;
    position: fixed;
    top: 50vh;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
    .next i, .previous i {
      display: inline; }

  .previous {
    left: -6.5em;
    border-top-right-radius: 0.55em;
    border-bottom-right-radius: 0.55em;
    -webkit-transition: left 0.08125s linear;
    -moz-transition: left 0.08125s linear;
    transition: left 0.08125s linear; }
    .previous i {
      padding-left: 0.75em; }

  .next {
    right: -5.1em;
    border-top-left-radius: 0.55em;
    border-bottom-left-radius: 0.55em;
    -webkit-transition: right 0.06375s linear;
    -moz-transition: right 0.06375s linear;
    transition: right 0.06375s linear; }
    .next i {
      padding-right: 0.75em; }

  .no-touch .next:hover, .no-touch .previous:hover, html:not(.touch) .next:hover, html:not(.touch) .previous:hover {
    color: #f8f3ef; }
  .no-touch .previous:hover, html:not(.touch) .previous:hover {
    left: 0; }
  .no-touch .next:hover, html:not(.touch) .next:hover {
    right: 0; } }
