/* Colours
*****************************/
/* Fonts
*****************************/
@font-face {
  font-family: MerriweatherLocal;
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Merriweather/Merriweather-Light.eot");
  src: url("../fonts/Merriweather/Merriweather-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Merriweather/Merriweather-Light.woff") format("woff"), url("../fonts/Merriweather/Merriweather-Light.ttf") format("truetype"), url("../fonts/Merriweather/Merriweather-Light.svg#MerriweatherLocal") format("svg"); }
@font-face {
  font-family: MerriweatherLocal;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Merriweather/Merriweather-Regular.eot");
  src: url("../fonts/Merriweather/Merriweather-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Merriweather/Merriweather-Regular.woff") format("woff"), url("../fonts/Merriweather/Merriweather-Regular.ttf") format("truetype"), url("../fonts/Merriweather/Merriweather-Regular.svg#MerriweatherLocal") format("svg"); }
@font-face {
  font-family: MerriweatherLocal;
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Merriweather/Merriweather-Bold.eot");
  src: url("../fonts/Merriweather/Merriweather-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Merriweather/Merriweather-Bold.woff") format("woff"), url("../fonts/Merriweather/Merriweather-Bold.ttf") format("truetype"), url("../fonts/Merriweather/Merriweather-Bold.svg#MerriweatherLocal") format("svg"); }
@font-face {
  font-family: MerriweatherLocal;
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/Merriweather/Merriweather-black.eot");
  src: url("../fonts/Merriweather/Merriweather-black.eot?#iefix") format("embedded-opentype"), url("../fonts/Merriweather/Merriweather-black.woff") format("woff"), url("../fonts/Merriweather/Merriweather-black.ttf") format("truetype"), url("../fonts/Merriweather/Merriweather-black.svg#MerriweatherLocal") format("svg"); }
@font-face {
  font-family: MerriweatherLocal;
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/Merriweather/Merriweather-LightItalic.eot");
  src: url("../fonts/Merriweather/Merriweather-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Merriweather/Merriweather-LightItalic.woff") format("woff"), url("../fonts/Merriweather/Merriweather-LightItalic.ttf") format("truetype"), url("../fonts/Merriweather/Merriweather-LightItalic.svg#MerriweatherLocal") format("svg"); }
@font-face {
  font-family: MerriweatherLocal;
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/Merriweather/Merriweather-Italic.eot");
  src: url("../fonts/Merriweather/Merriweather-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Merriweather/Merriweather-Italic.woff") format("woff"), url("../fonts/Merriweather/Merriweather-Italic.ttf") format("truetype"), url("../fonts/Merriweather/Merriweather-Italic.svg#MerriweatherLocal") format("svg"); }
@font-face {
  font-family: MerriweatherLocal;
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/Merriweather/Merriweather-BoldItalic.eot");
  src: url("../fonts/Merriweather/Merriweather-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Merriweather/Merriweather-BoldItalic.woff") format("woff"), url("../fonts/Merriweather/Merriweather-BoldItalic.ttf") format("truetype"), url("../fonts/Merriweather/Merriweather-BoldItalic.svg#MerriweatherLocal") format("svg"); }
@font-face {
  font-family: MerriweatherLocal;
  font-weight: 900;
  font-style: italic;
  src: url("../fonts/Merriweather/Merriweather-HeavyItalic.eot");
  src: url("../fonts/Merriweather/Merriweather-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Merriweather/Merriweather-HeavyItalic.woff") format("woff"), url("../fonts/Merriweather/Merriweather-HeavyItalic.ttf") format("truetype"), url("../fonts/Merriweather/Merriweather-HeavyItalic.svg#MerriweatherLocal") format("svg"); }
@font-face {
  font-family: JosefinSansLocal;
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/Josefin_Sans/JosefinSans-Thin.eot");
  src: url("../fonts/Josefin_Sans/JosefinSans-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Josefin_Sans/JosefinSans-Thin.woff") format("woff"), url("../fonts/Josefin_Sans/JosefinSans-Thin.ttf") format("truetype"), url("../fonts/Josefin_Sans/JosefinSans-Thin.svg#JosefinSansLocal") format("svg"); }
@font-face {
  font-family: JosefinSansLocal;
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Josefin_Sans/JosefinSans-Light.eot");
  src: url("../fonts/Josefin_Sans/JosefinSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Josefin_Sans/JosefinSans-Light.woff") format("woff"), url("../fonts/Josefin_Sans/JosefinSans-Light.ttf") format("truetype"), url("../fonts/Josefin_Sans/JosefinSans-Light.svg#JosefinSansLocal") format("svg"); }
@font-face {
  font-family: JosefinSansLocal;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Josefin_Sans/JosefinSans-Regular.eot");
  src: url("../fonts/Josefin_Sans/JosefinSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Josefin_Sans/JosefinSans-Regular.woff") format("woff"), url("../fonts/Josefin_Sans/JosefinSans-Regular.ttf") format("truetype"), url("../fonts/Josefin_Sans/JosefinSans-Regular.svg#JosefinSansLocal") format("svg"); }
@font-face {
  font-family: JosefinSansLocal;
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Josefin_Sans/JosefinSans-SemiBold.eot");
  src: url("../fonts/Josefin_Sans/JosefinSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Josefin_Sans/JosefinSans-SemiBold.woff") format("woff"), url("../fonts/Josefin_Sans/JosefinSans-SemiBold.ttf") format("truetype"), url("../fonts/Josefin_Sans/JosefinSans-SemiBold.svg#JosefinSansLocal") format("svg"); }
@font-face {
  font-family: JosefinSansLocal;
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Josefin_Sans/JosefinSans-Bold.eot");
  src: url("../fonts/Josefin_Sans/JosefinSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Josefin_Sans/JosefinSans-Bold.woff") format("woff"), url("../fonts/Josefin_Sans/JosefinSans-Bold.ttf") format("truetype"), url("../fonts/Josefin_Sans/JosefinSans-Bold.svg#JosefinSansLocal") format("svg"); }
@font-face {
  font-family: JosefinSansLocal;
  font-weight: 100;
  font-style: italic;
  src: url("../fonts/Josefin_Sans/JosefinSans-ThinItalic.eot");
  src: url("../fonts/Josefin_Sans/JosefinSans-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Josefin_Sans/JosefinSans-ThinItalic.woff") format("woff"), url("../fonts/Josefin_Sans/JosefinSans-ThinItalic.ttf") format("truetype"), url("../fonts/Josefin_Sans/JosefinSans-ThinItalic.svg#JosefinSansLocal") format("svg"); }
@font-face {
  font-family: JosefinSansLocal;
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/Josefin_Sans/JosefinSans-LightItalic.eot");
  src: url("../fonts/Josefin_Sans/JosefinSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Josefin_Sans/JosefinSans-LightItalic.woff") format("woff"), url("../fonts/Josefin_Sans/JosefinSans-LightItalic.ttf") format("truetype"), url("../fonts/Josefin_Sans/JosefinSans-LightItalic.svg#JosefinSansLocal") format("svg"); }
@font-face {
  font-family: JosefinSansLocal;
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/Josefin_Sans/JosefinSans-Italic.eot");
  src: url("../fonts/Josefin_Sans/JosefinSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Josefin_Sans/JosefinSans-Italic.woff") format("woff"), url("../fonts/Josefin_Sans/JosefinSans-Italic.ttf") format("truetype"), url("../fonts/Josefin_Sans/JosefinSans-Italic.svg#JosefinSansLocal") format("svg"); }
@font-face {
  font-family: JosefinSansLocal;
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/Josefin_Sans/JosefinSans-SemiBoldItalic.eot");
  src: url("../fonts/Josefin_Sans/JosefinSans-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Josefin_Sans/JosefinSans-SemiBoldItalic.woff") format("woff"), url("../fonts/Josefin_Sans/JosefinSans-SemiBoldItalic.ttf") format("truetype"), url("../fonts/Josefin_Sans/JosefinSans-SemiBoldItalic.svg#JosefinSansLocal") format("svg"); }
@font-face {
  font-family: JosefinSansLocal;
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/Josefin_Sans/JosefinSans-BoldItalic.eot");
  src: url("../fonts/Josefin_Sans/JosefinSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Josefin_Sans/JosefinSans-BoldItalic.woff") format("woff"), url("../fonts/Josefin_Sans/JosefinSans-BoldItalic.ttf") format("truetype"), url("../fonts/Josefin_Sans/JosefinSans-BoldItalic.svg#JosefinSansLocal") format("svg"); }
/* Misc 
*****************************/
/* Reset Styles
************************************/
* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Base styles
***********************************/
body {
  font-family: MerriweatherLocal, Merriweather, Georgia, "Times New Roman", serif;
  font-weight: 300;
  color: #444444;
  position: relative;
  font-size: 1em;
  font-size: 4vw; }

h1, h2, h3 {
  font-family: JosefinSansLocal, "Josefin Sans", Helvetica, Arial, sans-serif;
  letter-spacing: 0.1em;
  color: #111111; }

h1, h2 {
  font-weight: 700;
  text-transform: uppercase; }

h1 {
  font-size: 1.82em; }

h2 {
  font-size: 1.3em; }

h3, h4 {
  font-style: italic; }

h3 {
  font-size: 1.15em;
  font-weight: 400; }

h4 {
  font-weight: 300;
  font-size: 0.8em; }

p {
  font-size: 1em;
  margin-bottom: 1.15em;
  line-height: 1.5em; }

a {
  text-decoration: none;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  transition: color 0.2s linear; }

h1 a, h2 a, h3 a, h4 a, p a {
  color: #111111; }

.no-touch h1 a:hover, .no-touch h2 a:hover, .no-touch h3 a:hover, .no-touch h4 a:hover, .no-touch p a:hover, html:not(.touch) h1 a:hover, html:not(.touch) h2 a:hover, html:not(.touch) h3 a:hover, html:not(.touch) h4 a:hover, html:not(.touch) p a:hover {
  color: #aaaaaa; }

@media screen and (min-width: 500px) {
  body {
    font-size: 1.25em; } }
@media screen and (max-width: 300px) {
  body {
    font-size: 0.75em;
    font-size: 4vw; } }
@media screen and (max-width: 200px) {
  body {
    font-size: 0.5em;
    font-size: 4vw; } }
body {
  background: url("../images/bg.png") center center repeat; }

#content {
  min-height: 100%;
  min-height: 100vh;
  display: relative;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

/* Header
***********************************/
#site-header {
  position: absolute;
  top: 0.8em;
  left: 0;
  font-size: 16px;
  font-family: JosefinSansLocal, "Josefin Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  z-index: 1; }
  #site-header #site-title {
    font-size: 1.25em;
    text-transform: uppercase; }
  #site-header > nav:after {
    content: "";
    display: table;
    clear: both; }
  #site-header a {
    display: block;
    float: left;
    clear: both;
    padding: 0.39em 0.55em;
    margin-bottom: 0.16em;
    background: #111111;
    color: #aaaaaa; }
    #site-header a:nth-child(1) {
      -webkit-transition: margin-left 0.14375s linear 0.05s, background-color 0.2s linear;
      -moz-transition: margin-left 0.14375s linear 0.05s, background-color 0.2s linear;
      transition: margin-left 0.14375s linear 0.05s, background-color 0.2s linear; }
    #site-header a:nth-child(2) {
      -webkit-transition: margin-left 0.05s linear 0.05s, background-color 0.2s linear;
      -moz-transition: margin-left 0.05s linear 0.05s, background-color 0.2s linear;
      transition: margin-left 0.05s linear 0.05s, background-color 0.2s linear; }
    #site-header a:nth-child(3) {
      -webkit-transition: margin-left 0.0625s linear 0.05s, background-color 0.2s linear;
      -moz-transition: margin-left 0.0625s linear 0.05s, background-color 0.2s linear;
      transition: margin-left 0.0625s linear 0.05s, background-color 0.2s linear; }
    #site-header a:nth-child(4) {
      -webkit-transition: margin-left 0.1125s linear 0.05s, background-color 0.2s linear;
      -moz-transition: margin-left 0.1125s linear 0.05s, background-color 0.2s linear;
      transition: margin-left 0.1125s linear 0.05s, background-color 0.2s linear; }
    #site-header a i {
      color: #f8f3ef;
      font-weight: 700; }
    #site-header a .fa-circle {
      padding-left: 0.65em; }

.no-touch #site-header a:hover, html:not(.touch) #site-header a:hover {
  background: #444444; }
.no-touch #site-header:hover a, html:not(.touch) #site-header:hover a {
  margin-left: 0; }

@media screen and (min-width: 650px) {
  #site-header {
    top: 3.5em; } }
@media screen and (min-width: 550px) {
  #site-header {
    position: fixed; } }
/* Post styles
***********************************/
.post {
  -webkit-align-self: center;
  -moz-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
  padding: 4.375rem 0; }
  .post header {
    margin-bottom: 1.7em; }
  .post footer > p {
    font-size: 0.6em; }

.post, .page {
  max-width: 90%;
  max-width: 90vw; }

#contents p {
  font-size: 0.8em; }

@media screen and (min-width: 650px) {
  .post, .page {
    max-width: 69%; } }
@media screen and (min-width: 900px) {
  .post, .page {
    max-width: 37.5rem; } }
/* Next and Previous links
***********************************/
.next, .previous {
  color: #111111;
  position: static;
  font-family: JosefinSansLocal, "Josefin Sans", Helvetica, Arial, sans-serif;
  font-size: 1.15em; }
  .next i, .previous i {
    display: none; }

.previous {
  border-right: 1px solid #111111;
  padding-right: 0.75em; }
  .previous:last-child {
    border-right: none;
    padding-right: 0; }

.next:nth-child(2) {
  padding-left: 0.75em; }

.no-touch .next:hover, .no-touch .previous:hover, html:not(.touch) .next:hover, html:not(.touch) .previous:hover {
  color: #aaaaaa; }

@media screen and (min-width: 650px) {
  .next, .previous, .previous:last-child {
    top: 50%;
    position: fixed;
    top: 50vh;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #aaaaaa;
    color: #f8f3ef;
    padding: 0.75em;
    border-right: none; }
    .next i, .previous i, .previous:last-child i {
      display: inline; }

  .previous {
    left: -6.5em;
    border-top-right-radius: 0.55em;
    border-bottom-right-radius: 0.55em;
    -webkit-transition: left 0.08125s linear;
    -moz-transition: left 0.08125s linear;
    transition: left 0.08125s linear; }
    .previous i {
      padding-left: 0.75em; }

  .next {
    right: -5.1em;
    border-top-left-radius: 0.55em;
    border-bottom-left-radius: 0.55em;
    -webkit-transition: right 0.06375s linear;
    -moz-transition: right 0.06375s linear;
    transition: right 0.06375s linear; }
    .next i {
      padding-right: 0.75em; }

  .no-touch .next:hover, .no-touch .previous:hover, .no-touch .previous:last-child:hover, html:not(.touch) .next:hover, html:not(.touch) .previous:hover, html:not(.touch) .previous:last-child:hover {
    color: #f8f3ef; }
  .no-touch .previous:hover, html:not(.touch) .previous:hover {
    left: 0; }
  .no-touch .next:hover, html:not(.touch) .next:hover {
    right: 0; } }
