---
layout: default
---

{% if page.name == "index.html" %}
  {% assign current_post = site.posts[0] %}
  {% assign content = site.posts[0].content %}
{% else %}
  {% assign current_post = page %}
{% endif %}

<section class="post">

  <div class="post-wrapper">

    {% capture current_post_title_length %}{{ current_post.title | size }}{% endcapture %}

    {% if current_post_title_length != "0" && current_post.subtitle %}
    <header class="post-header">

      {% if current_post_title_length != "0" %}
      <h1>{{ current_post.title | newline_to_br }}</h1>
      {% endif %}
      
      {% if current_post.subtitle %}
      <h2>{{ current_post.subtitle | newline_to_br }}</h2>
      {% endif %}

    </header>
    {% endif %}

    <article class="post-content">
      {{ content }}
    </article>

  </div>

</section>


{% if current_post.previous %}
<a class="previous" href="{{ current_post.previous.url | prepend: site.baseurl }}"><span>Previous Poem</span><i class="fa fa-angle-left"></i></a>
{% endif %}

{% if current_post.next %}
<a class="next" href="{{ current_post.next.url | prepend: site.baseurl }}"><i class="fa fa-angle-right"></i><span>Next Poem</span></a>
{% endif %}
